.firebase/
.firebaserc
node_modules/
firebase-debug.log
.DS_Store

keys.txt
serviceAccounts.json

public/assets/unused-profiles
public/assets/aurora-legacy-logo.png
public/assets/promo_vid.mp4

public/js/security-report.js
public/security_report.html

public/ob.js
.vercel
.env*
